<!-- <a class="nav-link" routerLink="/dashboard">Dash</a>
<a class="nav-link" routerLink="/login">Login</a>
<a class="nav-link" routerLink="/register">register</a>
<a class="nav-link" routerLink="/schedule">schedule</a> -->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" routerLink="/dashboard">Dashboard</a></li>
            <li><a href="#" routerLink="/login">Login</a></li>
            <li><a href="#" routerLink="/register">Register</a></li>
            <li><a href="#" routerLink="/schedule">Schedule</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>